<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <title><%=yield(:title)%></title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<%= yield :meta %>
		<%= stylesheet_link_tag "main", :media=>"screen" %>
		<link rel="shortcut icon" href="/images/ocean-ico.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/images/ocean-touch-icon.PNG" />
		<%= yield :stylesheets_links %>
		<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/logo.css">
		<link type="text/css" rel="stylesheet" media="screen" href="/ext/resources/css/ext-all.css">
		<style type="text/css"><%= yield :stylesheets %></style>
		<script type="text/javascript" src="/ext/ext-all-dev.js"></script>
		<script type="text/javascript">
			Ext.Loader.setConfig({enabled: true});
			Ext.application({
				controllers: ['menu'<%= yield :js_controller %>],
				name: 'app',
				appFolder: '/javascripts/app',
				launch: function() {}
			});
		</script>
		<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
		<%= yield :js %>
	</head>
	<body <%= yield :body_attrs %>>
		<div id="header"> 
			<table cellpadding="0" cellspacing="0" width="100%" height="79">
				<tr class="logobg">
					<td width="2%"><img width="20" height="1" src="/images/0.gif" /></td>
					<td valign="bottom" class="logobg title">
					<nobr>
						<%= yield(:title)%>
					</nobr></td>
					<td class="logobg user" align="right" width="96%">
						<div>
							<span>
								<nobr>
									<%= session[:user_id] %>&nbsp;&nbsp;
									<% if session[:user_id].nil? %>
										<a href="/login/login">Вход</a>
									<% else %>
										<a href="/login/logout">Выход</a>
									<% end %>
								</nobr>
							</span>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div id="menu_js"></div>
		<div>
			<div id="left" class="left_content">
				<%= yield(:left_content)%>
			</div>
			<div id="content" class="center_content">
				<% if flash[:notice] -%>     
					<div id="notice"><%= flash[:notice] %></div>  
				<% end -%>
				<%= yield(:content)%>
			</div>		
		</div>
	</body>
</html>
